* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 18px;
}

/* header */
.header {
  background: url(/images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hamburger {
  display: none;
}

.logo img {
  width: 140px;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  padding: 15px;
}

.nav-links a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow', sans-serif;
  font-weight: normal
}

.nav-links .contact-btn a {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 13px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  padding: 16px 20px;
  border-radius: 25px;
}

.nav-links .contact-btn a:hover {
  background-color: hsl(204, 100%, 77%);
  color: hsl(0, 0%, 100%);
}

.header-text {
  color: hsl(0, 0%, 100%);
  margin: 70px 0;
}

.header-text h1 {
  letter-spacing: 5px;
}

.header-arrow {
  margin-top: 130px;
}

.header-arrow img {
  height: 95px;
}

/* Main section */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 600px);
  width: 100%;
}

.grid-container h2, h3 {
  font-weight: 700;
}

.grid-container h2 {
  color: hsl(212, 27%, 19%);
  font-size: 45px;
  margin-bottom: 40px;
}

.grid-container p {
  font-family: 'Barlow', sans-serif;
}

.grid-container p {
  color: hsl(210, 4%, 67%);
}

.grid-container a {
  color: hsl(212, 27%, 19%);
  font-weight: 600;
}

/* Transform */
.transform-text {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.transform-text p {
  margin-bottom: 40px;
  line-height: 1.6;
}

.transform-text a {
  font-size: 15px;
  color: hsl(212, 27%, 19%);
  font-weight: 900;
  text-decoration: none;
  border-bottom: 5px solid hsl(51, 90%, 80%);
  border-radius: 2px;
}

.transform-text a:hover {
  border-bottom: 5px solid hsl(51, 100%, 49%);
}

.transform {
  width: 60%;
}

.transform-img {
  background-image: url(/images/desktop/image-transform.jpg);
  background-position: center;
}

.transform-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Stand out */
.stand-out-text {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stand-out-text p {
  margin-bottom: 40px;
  line-height: 1.6;
}

.stand-out-text a {
  font-size: 15px;
  color: hsl(212, 27%, 19%);
  font-weight: 900;
  text-decoration: none;
  border-bottom: 5px solid hsl(7, 96%, 81%);
  border-radius: 2px;
}

.stand-out-text a:hover {
  border-bottom: 5px solid hsl(7, 99%, 70%);
}

.stand-out {
  width: 60%;
}

.stand-out-img {
  background-image: url(/images/desktop/image-stand-out.jpg);
  background-position: center;
}

.stand-out-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Graphic */
.graphic-section {
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: hsl(167, 40%, 24%);
}

.graphic {
  width: 60%;
  text-align: center;
  margin-bottom: 60px;
  line-height: 1.4;
}

.graphic p {
  margin-top: 30px;
  color: hsl(167, 40%, 24%);
}

/* Photography */
.photography-section {
  background-image: url(/images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  color: hsl(198, 62%, 26%);
}

.photography {
  width: 55%;
  text-align: center;
  margin-bottom: 60px;
  line-height: 1.4;
}

.photography p {
  margin-top: 30px;
  color: hsl(198, 62%, 26%);
}

/* Testimonials */
.testimonials {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-family: 'Barlow', sans-serif;
  padding-bottom: 120px;
}

.testimonials-title {
  color: hsl(210, 4%, 67%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 0;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 4px;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.testimonial img {
  width: 100px;
  border-radius: 50%;
}

.testimonial h4 {
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  font-size: 17px;
}

.testimonial p {
  font-size: 16px;
  margin: 50px 12px;
  color: hsl(213, 9%, 39%);
  line-height: 1.7;
  max-width: 70%;
}

.testimonial span {
  color: hsl(210, 4%, 67%);
  font-size: 14px;
  margin-top: 10px;
}

/* Gallery Section */
.gallery-container {
  display: flex;
}

.image {
  max-width: 100%;
}

.image img {
  width: 100%;
  height: 100%;
}

/* Footer */
.footer {
  background-color: hsl(167, 54%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 0;
}

.footer-logo {
  filter: invert(52%) sepia(11%) saturate(1421%) hue-rotate(118deg) brightness(92%) contrast(94%);
}

.footer-logo img {
  width: 160px;
}

.footer-links {
  display: flex;
  list-style: none;
  margin-top: 30px;
}

.footer-links a {
  color: hsl(168, 34%, 41%);
  text-decoration: none;
  padding: 20px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

.footer-links a:hover {
  color: hsl(0, 0%, 100%);
}

.footer-icons {
  display: flex;
  margin-top: 70px;
}

.footer-icons .icon {
  padding: 10px;
  cursor: pointer;
}

.icon img:hover {
  filter: brightness(0) invert(1);
}

/* Media queries */

/* Tablets */
@media only screen and (max-width: 991px) {
  body {
    font-size: 17px;
  }

  .header-arrow {
    margin-top: 80px;
  }
}

/* Mobiles */
@media only screen and (max-width: 767px) {
  /* header */
  .header {
    background: url(/images/mobile/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
    text-align: center;
  }

  .logo img {
    width: 120px;
  }

  .header-arrow {
    margin-top: 60px;
  }
  
  .header-arrow img {
    height: 115px;
  }

  /* Hamburger Menu */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: hsl(0, 0%, 100%);
  }

  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links a {
    color: hsl(232, 10%, 55%);
  }

  .nav-links li {
    padding: 5px;
  }

  .nav-link {
    margin: 10px 0;
  }

  .nav-links .contact-btn a {
    background-color: hsl(51, 100%, 49%);
  }
  
  .nav-links .contact-btn a:hover {
    background-color: hsl(51, 100%, 57%);
    color: hsl(0, 0%, 0%);
  }

  /* Main section */
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 350px) 600px 600px;
  }

  .grid-container h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .grid-container p {
    margin-bottom: 20px;
  }

  .grid-container a {
    font-size: 13px;
  }

  .transform-img {
    background-image: url(/images/mobile/image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    order: -1;
  }

  .transform {
    font-size: 16px;
    text-align: center;
    width: 70%;
  }

  .stand-out-img {
    background-image: url(/images/mobile/image-stand-out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .stand-out {
    font-size: 16px;
    text-align: center;
    width: 70%;
  }

  .graphic-section {
    background-image: url(/images/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .graphic {
    width: 100%;
    font-size: 25px;
  }

  .graphic p {
    font-size: 16px;
    padding: 0 15px;
    margin-top: 20px;
  }

  .photography-section {
    background-image: url(/images/mobile/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .photography {
    width: 100%;
    font-size: 25px;
  }

  .photography p {
    font-size: 16px;
    padding: 0 15px;
    margin-top: 20px;
  }

  /* Testimonials */
  .testimonials {
    flex-direction: column;
    padding-bottom: 30px;
  }

  .testimonials-title {
    padding: 70px 0;
    font-size: 15px;
  }

  .testimonial {
    margin-bottom: 60px;
  }

  .testimonial img {
    width: 70px;
  }
  
  .testimonial h4 {
    font-size: 16px;
  }
  
  .testimonial p {
    font-size: 15px;
    margin: 25px 6px;
    max-width: 70%;
  }

  /* Gallery Section */
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* Footer */
  .footer {
    padding: 65px 0;
  }
}